<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.payalot.enjoyforott.chat.model.vo.Chat" alias="chat"/>
		<typeAlias type="com.payalot.enjoyforott.chat.model.vo.ChatContent" alias="chatContent"/>
		<typeAlias type="com.payalot.enjoyforott.ratePlan.model.vo.RatePlan" alias="ratePlan"/>
		<typeAlias type="com.payalot.enjoyforott.memberModal.model.vo.MemberModal" alias="memberModal"/>
		<typeAlias type="com.payalot.enjoyforott.user.model.vo.User" alias="user"/>
		<typeAlias type="com.payalot.enjoyforott.inquiry.model.vo.Inquiry" alias="inquiry"/>
		<typeAlias type="com.payalot.enjoyforott.inquiry.model.vo.Reply" alias="reply"/>
		<typeAlias type="com.payalot.enjoyforott.inquiry.model.vo.Type" alias="type"/>
		<typeAlias type="com.payalot.enjoyforott.notice.model.vo.Board" alias="board"/>
		<typeAlias type="com.payalot.enjoyforott.notice.model.vo.Member" alias="member"/>
		<typeAlias type="com.payalot.enjoyforott.party.model.vo.Party" alias="party"/>
		<typeAlias type="com.payalot.enjoyforott.party.model.vo.OttType" alias="ottType"/>
		<typeAlias type="com.payalot.enjoyforott.party.model.vo.PartyMember" alias="partyMember"/>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="/mappers/chat/chat-mapper.xml"/>
		<mapper resource="/mappers/ratePlan/rateplan-mapper.xml"/>
		<mapper resource="/mappers/memberModal/memberModal-mapper.xml"/>
		<mapper resource="/mappers/user/user-mapper.xml"/>
		<mapper resource="/mappers/board/board-mapper.xml"/>
		<mapper resource="/mappers/inquiry/inquiry-mapper.xml"/>
		<mapper resource="/mappers/reply/reply-mapper.xml"/>
		<mapper resource="/mappers/memManage/memManage-mapper.xml"/>
		<mapper resource="/mappers/party/party-mapper.xml"/>
		<mapper resource="/mappers/party/ottType-mapper.xml"/>
	</mappers>
</configuration>
