@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");

body{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 14px;
    background-color: #efefef;
}
.outer {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    color: #3c3b3b;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}
strong, b {
    color: #3c3b3b;
    font-weight: 700;
}

.joimForm {
    /* border: 1px solid #a8b0ff; */
    display: inline-block;
    width: 50%;
    border-radius: 10px;
    padding: 1%;
}
.subTitle{
    /* border: 1px solid blueviolet; */
    width: 50%;
    display: inline-block;
    text-align: left;
    margin: 1%;
    font-size: x-large;
}

.notice{
    border: 1px solid #a8b0ff;
    border-radius: 5px;
    color: gray;
    padding: 2%;
}

/* 테이블영역 */
th, td{
    text-align: left;
    vertical-align: top;
    height: 50px;
}
th{
    width: 30%;
}
p{
    font-size: 12px;
    color: gray;
    margin: 0;
}
input::file-selector-button{
    display: none; /* 가상요소선택자 file-selector-button로 file버튼 가리기*/
}
input{
    border: 1px solid lightgray;
}
select option[value=""][disabled] {
	display: none;
    
}
.form-control{
    float: left;
    height: 30px;
    font-size: 14px;
}
.fullInput{
    width: 90% !important;
}
.harfInput{
    width: 45% !important;
}
.quarterInput{
    width: 21% !important;
}
.quarterupInput{
	width: 70% !important;
}
.etc{
    float: left;
}
.logoArea{
/* 	border: 1px solid red; */
    float: left;
    margin: 1% 4%;
	text-align: center;
}
.logoArea :hover {
	cursor: pointer;
}
.logoImg{
    width: 50px;
    height: 50px;
    margin: 0 2%;
    margin-bottom: 7px;
    border-radius: 70%;
    display: inline-block;
}
.logoImg:hover {
	opacity:0.7;
}
.ottname {
	font-size: 13px;
}
.ottChked {
/* 	border: 7px solid #a8b0ff; */
/* 	opacity:0.7; */
}
.priceInfo {
    font-size: x-large;
    font-weight: 600;
}
.amountVal {
	font-size: large;
    font-weight: 600;
}
.operator {
    font-size: medium;
    font-weight: 600;
}

/* 버튼영역 */
.button-gray{
    width: 200px;
    height: 50px;
    background-color: gray;
    color: white !important;
    font-weight: 500;
}
.button-purple{
    width: 200px;
    height: 50px;
    background-color: #a8b0ff;
    color: white !important;
    font-weight: 500;
}
.button-clear{
    color: #a8b0ff !important;
    border: none !important;
    font-weight: bold !important;
    line-height: 1.65;
    font-size: 14px;
}
.button-clear:hover{
    cursor: pointer;
}

/* 글씨관련 */
.font-purple{
    color: #a8b0ff;
}
.font-medium {
	font-size: 16px;
}

